// .selectClass {
//     height: 40px !important;
//     padding-left: 15px;
//     font-size: 13px;
//     border: 1px solid #ccc;
//     position: relative;
//     width: -webkit-fill-available;
//     -webkit-appearance: none;
//     content: '\f078';
// }

.choose{
    color: #999 !important;
}

.cancel {
    position: absolute;
    top: calc(45% - 0.5em);
    right: 15px;
    color: #db2e25;
    cursor: pointer;
    font-size: 15px;
}
  
.selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/
    
    float: left;
    border: 1px solid #ccc;
    height: 40px !important;
    // width: inherit;
    padding-top: 8px;
    font-size: 13px;
    padding-left: 12px;
    
    input {
        width: 80%;
        height: 80%;
        border: 0px;
        padding-left: 0px;
    }

    input:focus {
        border-color: white;
        outline: 0;
        // box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255);
    }
}

.disabledD {
    background-color: rgba(239, 239, 239, 0.3);
}

.array {
    height: 120px;
    overflow: auto;
}

.selectdiv:after {
    content: '\f0dd';
    font: normal normal normal 17px/1 FontAwesome;
    color: #db2e25;
    right: 11px;
    // top: 6px;
    height: 39px;
    padding: 7px 0px 0px 10px;
    position: absolute;
    pointer-events: none;
    font-size: 15px;
    border-left: 1px solid #ccc;
    bottom: 0px;
    visibility: visible;
}

.option {
    height: 40px !important;
    border: 1px solid #ccc;
    padding-top: 8px;
}

.option:hover {
    background-color: #db2e2582;
}

input {
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255)) !important;
}

.icon_invalid {
    font-size: 30px;
    color: #db2e25;
}

.icon_valid {
    font-size: 30px;
    color: green;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #db2e25; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #db2e25; 
  }

.cancel {
    position: absolute;
    top: calc(45% - 0.5em);
    right: 40px;
    color: #db2e25;
    cursor: pointer;
}