<form novalidate #form="ngForm" (ngSubmit)="submitForm()">
    <div class="container my-5">
        <div class="row justify-content-center label">CERCA LIBRO</div>
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                <div>
                    <lbry-input-search ngDefaultControl [id]="'ricerca'" [name]="'ricerca'" [placeholder]="'Inserisci cosa vuoi cercare'" [disabled]="false" [(ngModel)]="ricerca" [required]="false"></lbry-input-search>
                </div>
            </div>
        </div>
    </div>
</form>

<div *ngIf="isSearched" class="">
    <div class="row">
        <div class="label">
            Risultati della ricerca: <span>{{ searchBooks.length }}</span>
        </div>
    </div>
</div>
<div *ngIf="isSearched">
    <div *ngFor="let book of searchBooks">
        <section-book [book]="book"></section-book>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-6">
        <lbry-button [style]="styleButton.first" [title]="'Annulla'" [disabled]="false"></lbry-button>
    </div>
    <div class="col-6" style="text-align: right">
        <lbry-button [style]="styleButton.first" [title]="'Prosegui'" [disabled]="true"></lbry-button>
    </div>
</div>