<!-- <div class="row components">
  <div class="col-2 my-2">
    <div class="row">
      <lbry-button
        [style]="styleButton.third"
        [title] = "'first page'"
        [disabled] = "false"
        (nbpClick) = "selectPage('first')"
      ></lbry-button>
    </div>
  </div>
</div> -->

<!-- <div *ngIf="page === 'first'"> -->
  <lbry-section
    [title]="'Ricerca libro'"
  >
  <div class="container">
    <form novalidate #form="ngForm">
      <div class="row">
        <div class="col-4">
          <div class="m-3">
            <lbry-input
              [id]="'Nome autore'"
              [value]="'Nome autore'"
              [label]="'Nome autore'"
              [placeholder] = "'Inserisci nome'"
              [disabled]="false"
              [(sharedVar)]="model.nome"
              [required]="false"
            ></lbry-input>
          </div>
        </div>
        <div class="col-4">
          <div class="m-3">
            <lbry-input
            [id]="'Cognome'"
            [value]="'Cognome'"
            [label]="'Cognome Autore'"
            [placeholder] = "'Inserisci cognome'"
            [disabled]="false"
            [(sharedVar)]="model.cognome"
            [required]="false"
          ></lbry-input>
          </div>
        </div>
        <div class="col-4">
          <div class="m-3">
            <lbry-input
            [id]="'Titolo'"
            [value]="'Titolo'"
            [label]="'Titolo'"
            [placeholder] = "'Inserisci titolo libro'"
            [disabled]="false"
            [(sharedVar)]="model.libro"
            [required]="false"
          ></lbry-input>
          </div>
        </div>
        <div class="col-4">
          <div class="m-3">
            <lbry-input
            [id]="'Casa editrice'"
            [value]="'Casa editrice'"
            [label]="'Casa editrice'"
            [placeholder] = "'Inserisci casa editrice'"
            [disabled]="false"
            [(sharedVar)]="model.casaEditrice"
            [required]="false"
          ></lbry-input>
          </div>
        </div>
        <div class="col-4">
          <div class="m-3">
            <lbry-input
            [id]="'Anno pubblicazione'"
            [value]="'Anno pubblicazione'"
            [label]="'Anno pubblicazione'"
            [placeholder] = "'Inserisci anno pubblicazione'"
            [disabled]="false"
            [(sharedVar)]="model.annoPubblicazione"
            [required]="false"
          ></lbry-input>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <lbry-button
            [title] = "'Annulla'"
            [style]="styleButton.second"
            [disabled] = "false"
          ></lbry-button>
        </div>
        <div class="col text-end">
          <lbry-button
            type="submit"
            [title] = "'Ricerca'"
            [disabled] = "!control()"
          ></lbry-button>
        </div>
      </div>
    </form>

    <pre><code>{{ form.value | json }}</code></pre>

    <pre><code>{{ model | json }}</code></pre>

  </div>
</lbry-section>
<div *ngFor="let book of books" class="row" 
  style="margin: 10px;/* height: 100px; */border-radius: 25px;box-shadow: 0px 0px 12px 0px #888888; padding: 10px;">
  <div class="col-2 text-center" style="align-self: center;">
    <img src="{{book.thumbnailUrl}}" width="100">
  </div>
  <div class="col">
    <div>
      <div style="color: #db2e25;font-size: 20px;">{{book.title}}</div>
      <div style="font-size: 15px;">
        <span *ngFor="let author of book.authors" style="margin-right: 10px;">
          {{author}}
        </span>
      </div>
      <div class="mt-1" style="font-size: 15px;">Manning Publications - {{book.date}}
        <span style="padding-left: 10px;">{{book.pageCount}} pag</span>
      </div>
      <div class="mt-2" style="font-weight:100;font-size: 12px;margin-top: 5px">{{book.shortDescription}}</div>
    </div>
  </div>
  <div class="col-1" style="align-self: center;">
    <div>Copie: {{book.copie}}</div>
  </div>
  <div style="width: 12.49%;align-self: center;">
    <div>Disponibili: {{book.disponibili}}</div>
  </div>
  <div class="col-2" style="align-self: center;">
    <lbry-button
      [style]="styleButton.first"
      [title] = "'prenota'"
      [disabled] = "book.disponibili == 0"
      (nbpClick) = "prova(book)"
    ></lbry-button>
  </div>
</div>