<div class="mt-4">
    <script>

        $(document).ready(function() {
      
         var docHeight = $(window).height();
         var footerHeight = $('#sticky-footer').height();
         var footerTop = $('#sticky-footer').position().top + footerHeight;
      
         if (footerTop < docHeight) {
          $('#sticky-footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
         }
        });
       </script>
    <footer id="sticky-footer" class="py-4">
        <div class="container text-center">
            <small>&copy; 2021 - {{year}} Bibliontheka.com - Ellevu.srl</small>
        </div>
    </footer>
</div>
