.int {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--black-color);
    .loader {
        border: 4px solid transparent;
        border-radius: 50%;
        border-top: var(--main-border-xx);
        border-top-style: none;
        border-bottom: var(--main-border-xx);
        border-right: var(--main-border-xx);
        width: 120px;
        height: 120px;
        margin: 15% auto;
        position: relative;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}
