<div class="row">
  <div class="col-md-12">
    <label>{{label}}<span *ngIf="required">*</span></label>
  </div>
</div>
<div class="row">
  <div class="sup">
    <div class="d-inline">
      <div class="intrn">
        <input #idForm="ngModel" [type]="type" [pattern]="pattern" class="form-control inp" [disabled]="disabled" placeholder="{{placeholder}}"
        [required]="required" [(ngModel)]="ngModel" (ngModelChange)="change($event)">
        <span *ngIf="ngModel" class="cancel" (click)="cancel()">
          <i class="bi bi-x-lg"></i>
        </span>
      </div>
    </div>
    <span class="d-inline" *ngIf="required; else noRequired">
      <span *ngIf="idForm.dirty" [ngClass]="{'icon_invalid': idForm.invalid, 'icon_valid' : idForm.valid}">
        <span *ngIf="false">
          <i [ngClass]="{'bi bi-exclamation': idForm.invalid, 'bi bi-check': idForm.valid}" data-toggle="tooltip"
            data-placement="top" title="{{idForm.invalid ? tooltipTitleInvalid : tooltipTitleValid}}">
          </i>
        </span>
        <lbry-tooltip
          [messageTool]= "idForm.invalid ? tooltipTitleInvalid : tooltipTitleValid"
          [icon]="idForm.invalid ? 'bi bi-exclamation' : 'bi bi-check'"
        ></lbry-tooltip>
      </span>
    </span>
    <ng-template #noRequired>
      <span *ngIf="idForm.value" class="d-inline">
        <span [ngClass]="{'icon_invalid': idForm.invalid, 'icon_valid' : idForm.valid}">
          <span *ngIf="false">
            <i [ngClass]="{'bi bi-exclamation': idForm.invalid, 'bi bi-check': idForm.valid}" data-toggle="tooltip"
              data-placement="top" title="{{idForm.invalid ? tooltipTitleInvalid : tooltipTitleValid}}">
            </i>
          </span>
          <lbry-tooltip
            [messageTool]= "idForm.invalid ? tooltipTitleInvalid : tooltipTitleValid"
            [icon]="idForm.invalid ? 'bi bi-exclamation' : 'bi bi-check'"
          ></lbry-tooltip>
        </span>
      </span>
    </ng-template>
  </div>
</div>