<button id={{id}} class="btn_basic" [ngClass]="{
                'btn_first': style === 'first',
                'btn_second': style === 'second',
                'btn_third': style === 'third',
                'btn_not_disabled': disabled === false,
                'btn_disabled': disabled === true, 
                'btn_loading': (isLoading$ | async) && id === idLoading
                }" [ngStyle]="{'pointer-events': (isLoading$ | async) ? 'none' : ''}"
    (click)="click()" [disabled]="disabled">
    <div *ngIf="!((isLoading$ | async) && id === idLoading)" style="display: flex;"><div *ngIf="icon" [ngClass]="icon ? icon : ''" class="icona"></div>{{title}}</div> 
    <div *ngIf="(isLoading$ | async) && id === idLoading" class="loading" style="display: flex;"></div>
