<button id={{id}} [ngClass]="{'btn_disabled': disabled === true, 
                'btn_first': disabled === false && style === 'first',
                'btn_second': style === 'second',
                'btn_third': style === 'third',
                'btn_loading': loading === true
                }" [ngStyle]="{'pointer-events': loading === true ? 'none' : ''}"
    (click)="click()" [disabled]="disabled">
    <span *ngIf="!loading">{{title}}<span *ngIf="icon" [ngClass]="icon ? icon : ''" class="icona"></span></span> 
    <span *ngIf="loading" class="loading"></span>
