.btn_first {
    display: inline-block;
    padding: 7px 20px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: var(--main-border);
    line-height: 1.6;
    font-weight: 400;
    color: var(--white-color);
    width: max-content;
    cursor:pointer;
}

.btn_first:hover {
	background-color: var(--dark-color);
  border: var(--dark-border);
}

.btn_disabled {
  display: inline-block;
  padding: 7px 20px;
  border: var(--white-border);
  text-transform: uppercase;
  background-color: var(--main-light-color);
  line-height: 1.6;
  font-weight: 400;
  color: var(--white-color);
  width: max-content;
}

.btn_second {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: var(--white-color);
  line-height: 1.6;
  font-weight: 400;
  color: var(--main-color);
  width: max-content;
  border: var(--main-border);
  cursor:pointer;
}

.btn_second:hover {
  border: var(--dark-border);
  color:  var(--dark-color);
  
}

.btn_third {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: var(--white-color);
  line-height: 1.6;
  font-weight: 400;
  color: var(--main-color);
  width: max-content;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  cursor:pointer;
}

.btn_loading {
  display: inline-grid;
  padding: 0px 20px;
  text-transform: uppercase;
  background-color: var(--main-light-color);
  border: var(--white-border);
  line-height: 1.6;
  font-weight: 400;
  color: var(--white-color);
  cursor: pointer;
}

.btn_third:hover {
  border: var(--dark-border);
  color:  var(--dark-color);
  
}

.icona {
  margin-left: 10px;
}

.loading  {
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: var(--white-border-xx);
  border-bottom: var(--white-border-xx);
  border-right: var(--white-border-xx);
  width: 30px;
  height: 30px;
  margin: 7px auto;
  position: relative;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}