.btn_first {
    display: inline-block;
    padding: 10px 20px;
    // background: rgba(255,255,255,0.2);
    text-transform: uppercase;
    background-color: var(--main-color);
    border: var(--main-border);
    // font-family: 'Roboto',sans-serif;
    // font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    color: var(--white-color);
    width: max-content;
    cursor:pointer;
}

.btn_first:hover {
	background-color: var(--dark-color);
  border: var(--dark-border);
}

.btn_disabled {
  display: inline-block;
  padding: 10px 20px;
  // background: rgba(255,255,255,0.2);
  border: var(--white-border);
  text-transform: uppercase;
  background-color: var(--main-light-color);
  // font-family: 'Roboto',sans-serif;
  // font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--white-color);
  width: max-content;
}

.btn_second {
  display: inline-block;
  padding: 9px 20px;
  // background: rgba(255,255,255,0.2); 
  text-transform: uppercase;
  background-color: var(--white-color);
  // font-family: 'Roboto',sans-serif;
  // font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--main-color);
  width: max-content;
  border: var(--main-border);
  cursor:pointer;
}

.btn_second:hover {
	// background-color: var(--dark-color);
  border: var(--dark-border);
  color:  var(--dark-color);
  
}

.btn_third {
  display: inline-block;
  padding: 9px 20px;
  // background: rgba(255,255,255,0.2);
  text-transform: uppercase;
  background-color: var(--white-color);
  // font-family: 'Roboto',sans-serif;
  // font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--main-color);
  width: max-content;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  cursor:pointer;
}

.btn_third:hover {
	// background-color: var(--dark-color);
  border: var(--dark-border);
  color:  var(--dark-color);
  
}

.icona {
  margin-left: 10px;
}
