<div class="row section">
  <div class="col-2 text-center align-self-center">
    <span *ngIf="book.thumbnailUrl; else noThumbnailUrl"
      ><img src="{{ book.thumbnailUrl }}" width="100"
    /></span>
    <ng-template #noThumbnailUrl
      ><img
        src="https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/hepper.jpg"
        width="100"
    /></ng-template>
  </div>
  <div class="col">
    <div>
      <div class="book_title">{{ book.title }}</div>
      <div>
        <span class="book_author" *ngFor="let author of book.authors">
          {{ author.name }}
        </span>
      </div>
      <div class="mt-1">
        ISBN: {{ book.isbn}}
      </div>
      <div class="mt-1">
        Data di pubblicazione: {{ book.publishedDate | date:'MMMM, yyyy'}}
        <span class="pl-2" *ngIf="book.pageCount">{{ book.pageCount }} pag</span>
      </div>
      <div class="mt-1 book_cathegory">
        <span
          *ngFor="let cathegory of book.categories"
        >
          {{ cathegory.name }}
        </span>
      </div>
      <div
        *ngIf="book.longDescription"
        class="mt-2 text_reduce"
        [ngClass]="{ text_reduce: !book.read, text_more: book.read }"
      >
        {{ book.longDescription }}
      </div>
      <div *ngIf="book.longDescription" (click)="readMore(book)">
        <span *ngIf="!book.read" class="longDescription"
          >Leggi di più...</span
        >
        <span *ngIf="book.read" class="longDescription"
          >Riduci</span
        >
      </div>
    </div>
  </div>
  <div class="col-1 align-self-center">
    <div>
      Copie: <span style="font-weight: bold">{{ book.copies.length}}</span>
    </div>
  </div>
  <div style="width: 12.49%; align-self: center">
    <div>
      Disponibili:
      <span
        style="font-weight: bold"
        [ngStyle]="{ 'color: #db2e25': availables.length === 0 }"
        >{{ availables.length }}</span
      >
    </div>
  </div>
  <div class="col-2 align-self-center">
    <lbry-button
      [id]="'prenota_' + book.isbn"
      [style]="styleButton.first"
      [title]="'prenota'"
      [disabled]="availables.length === 0"
      (nbpClick)="prenota($event)"
    ></lbry-button>
  </div>
</div>