<div style="padding-left: 100px; padding-right: 100px">
  <data-book></data-book>
  <data-user></data-user>
</div>

<div class="row justify-content-between mt-5 mb-4">
  <div class="col-2">
    <lbry-button
      [id]="'indietro'"
      [style]="styleButton.first"
      [title]="'Indietro'"
      [disabled]="false"
      (nbpClick)="goBack()"
    ></lbry-button>
  </div>
  <div class="col-2" style="text-align: right">
    <lbry-button
      [id]="'prosegui'"
      [style]="styleButton.first"
      [title]="'Prosegui'"
      [disabled]="check()"
      (nbpClick)="goForward()"
    ></lbry-button>
  </div>
  
</div>

