<div style="padding-left: 100px; padding-right: 100px">
  <data-book></data-book>
  <data-user></data-user>
</div>

<div class="row mt-5 mb-4">
  <div class="col-6">
    <lbry-button
      [style]="styleButton.first"
      [title]="'Indietro'"
      [disabled]="false"
      (nbpClick)="goBack()"
    ></lbry-button>
  </div>
  <div class="col-6" style="text-align: right">
    <lbry-button
      [style]="styleButton.first"
      [title]="'Prosegui'"
      [disabled]="check()"
      (nbpClick)="goForward()"
    ></lbry-button>
  </div>
  
</div>

