.header_first {
    position: relative;
    min-height: 40px;
    text-transform: uppercase;
}

.header_second {
    position: relative;
    min-height: 93px;
    margin-bottom: 20px;
    background-color: #2d2d2d;
    text-transform: uppercase;
    font-weight: 700;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2d2d2d !important;
}

.navbar-nav {
    padding-top: 23px !important;
    flex-direction: row;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 48px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.navbar-nav>li>a:hover  {
    border-bottom: 3px solid #db2e25;
    color: white;
}

.navbar-nav>li>a:focus  {
    border-bottom: 3px solid #db2e25;
    color: white;
}

.nav>li {
    margin-left: 40px;
}