<lbry-accordion
  [isCollapsed] = "true"
>
<div class="container">
  <div class="row mb-3">
    <ng-container *ngFor="let data of dataFilter; index as i">
      <div class="col-{{data.col}}">
        <div *ngIf="data.type === 'input'; else dropdown">
          <lbry-input
            ngDefaultControl
            [id]="data.id"
            [label]="data.title"
            [placeholder] = "null"
            [(ngModel)]="data.ngModel"
            (sharedVarChange)="changeNgModel($event, 'input')"
          ></lbry-input>
        </div>
        <ng-template #dropdown>
          <lbry-dropdown
            [label]="data.title"
            [placeholder]="null"
            [value]="data.title"
            [array]="data.array"
            [idArray]="data.id"
            [valueArray]="data.field"
            [(blModel)]="data.ngModel"
            (blModelChange)="changeNgModel($event, 'dropdown')"
          >
          </lbry-dropdown>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
      <lbry-button
        [style]="styleButton.first"
        [title] = "'ricerca'"
        [disabled] = "abilita()"
        (nbpClick) = "ricerca()"
      ></lbry-button>
    </div>
  </div>
</div>
</lbry-accordion>