
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--black-color); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--white-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: var(--grayer-color);
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .button-right {
    text-align: -webkit-right;
  }

  /* The Close Button */
  .close {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    color: var(--black-color);
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }