    <!-- The Modal -->
      <div [id]=idModal class="modal">
        <!-- Modal content -->
        <div class="modal-content" [ngStyle]= "{'width': size === 'large' ? '80%' : (size === 'medium' ? '50%' : '30%')}">
          <span>
            <div class="row" style="position: relative; height: 30px;">
              <div class="col-12" style="text-align: center;">
                {{title}}
              </div>
              <div class="col-12" style="text-align: right;position: absolute;left: 9px;top: -11px;">
                <span class="close bi bi-x-lg" (click) = onclick()></span>
              </div>
            </div>
          </span> 
          <ng-content></ng-content>
          <span>
            <div class="row">
              <div class="col-6">
                <lbry-button
                [style]="styleButton.second"
                [title] = "leftButtonTitle"
                [disabled]="leftButtonDisabled"
                (nbpClick) = "nbpLeftClick()"
              ></lbry-button>
              </div>
              <div class="col-6 button-right">
                <div style="flex-flow: row-reverse;">
                  <lbry-button
                    [title] = "rightButtonTitle"
                    [disabled] = "rightButtonDisabled"
                    (nbpClick) = "nbpRightClick()"
                  ></lbry-button>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>