label {
    font-weight: bold;
    margin-left: 10px;
}

.sup {
    display: contents;
    .intrn {
        position: relative;
        i.search{
            position:  absolute;
            top: 25%;
            left: 15px;
            font-size: 15px;
            color: var(--main-color);
        }
        .inp {
            height: 40px;
            // width: 195px;
            font-size: 15px;
            border-radius: 0px;
            // position: absolute;
        }
        
        input.form-control.inp {
            outline-width: 0px;
            padding-left: 40px
        }
        
        .form-control:focus {
            border-color:  var(--main-color);
            outline: 0;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255);
        }
    
        .cancel {
            position: absolute;
            top: 10px;
            right: 10px;
            color:  var(--main-color);
            cursor: pointer;
        }
        
    }
    
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: var(--grayer-color);
}