/* .fontsize {
	font-family: 'Roboto',sans-serif;
    font-size: 15px;
} */

.head {
	height: 50px;
    font-size: 16px;
    background-color: var(--main-color);
    /* height: 30px !important; */
    cursor: pointer;
    text-transform: uppercase;
}

tr {
    height: 50px;
}

th {
    padding-left: 10px;
    /* font-weight: initial; */
    white-space: nowrap;
    text-align: left;
}

td {
	vertical-align: middle !important;
    padding-left: 10px;
    border-bottom: var(--gray-border);
}

.value {
    font-weight: initial;
}

.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}

// .button {
// 	cursor: pointer;
//     padding-left: 10px;
// }

// .button:hover {
//   color: rgb(195, 29, 29);
// }

.arrow {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: var(--gray-border);
    border-right-width: 0px;
    border-left-width: 0px;
    border-image: initial;
}

.ind {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}