.headerAccordion {
    background-color: var(--main-color);
    // height: 30px;
    font-size: 25px;
}

.collapse_sty {
    border-bottom: var(--main-border);
    border-left: var(--main-border);
    border-right: var(--main-border);
    padding-bottom: 10px;
}