.headerAccordion {
    background-color: #db2e25;
    // height: 30px;
    font-size: 25px;
}

.collapse_sty {
    border: 1px solid #db2e25;
    border-top: 0px solid #db2e25;
    padding-bottom: 10px;
}